<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="org.bumble.xtext.grammartransformer.target-e4.24" sequenceNumber="1657885623">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.27.0.v20220530-0508"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.27.0.v20220530-0508"/>
      <repository id="eclipse-2022-06" location="http://download.eclipse.org/releases/2022-06/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.gerrit.feature.feature.group" version="2.16.1.v20200828-1618"/>
      <unit id="org.eclipse.mylyn.hudson.feature.group" version="1.17.0.v20200730-1155"/>
      <repository id="mylyn" location="https://download.eclipse.org/mylyn/releases/latest/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.xpand" version="2.2.0.v201605260315"/>
      <repository id="eclipse-2021-12" location="https://download.eclipse.org/releases/2021-12"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="com.sun.xml.bind" version="2.2.0.v20201118-1845"/>
      <unit id="org.slf4j.api" version="1.7.30.v20200204-2150"/>
      <unit id="ch.qos.logback.slf4j" version="1.2.3.v20200428-2012"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v20220406-2305"/>
      <repository id="eclipse-orbit-2022-06" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220531185310/repository"/>
    </location>
  </locations>
</target>