<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GrammarOptimizer -->
      <package
            uri="http://bumble.org/xtext/optimizationrule/DSL"
            class="org.bumble.xtext.grammaroptimizer.optimizationrule.OptimizationrulePackage"
            genModel="model/GrammarTransformer.genmodel"/>
   </extension>

</plugin>
